<div class="body">
    <%= link_to  "Logout", logout_path %>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Restaurant Name</th>
                </tr>
            </thead>
            <tbody>

                <% @restaurants.each do |restaurant| %>
                    <tr>
                        <th scope="row">
                            <%= link_to  "#{ restaurant.name }", restaurant_path(restaurant.id) %>

                        </th>
                    </tr>
                    <% end %>

            </tbody>
        </table>
</div>